<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TextProcessorTests">
    <test name="Unit Tests">
        <packages>
            <package name="test.entity.composite"/>
            <package name="test.util"/>
            <package name="test.reader"/>
            <package name="test.parse"/>
        </packages>
    </test>
</suite>
